## Programa Ingenias+ Data Science

## Trabajando con Pandas

1) Importa las librerias requeridas: `Pandas` y `NumPy`.  

Una buena practica a la hora de escribir codigo es de comentar siempre que estoy haciendo (usando `#`) en la linea anterior. Por mas obvio que parezca lo que voy a hacer, puede ser que tenga que compartir el documento con otras personas y no sepan que quise hacer en cada linea. O que yo mismo lea el codigo tiempo despues y no recuerde porque lo hice.

In [2]:
!pip install NumPy
!pip install Pandas

Requirement already satisfied: NumPy in /usr/local/lib/python3.10/dist-packages (1.22.4)
Requirement already satisfied: Pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from Pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from Pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from Pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->Pandas) (1.16.0)

In [3]:
import pandas as pd
import numpy as np

2) Lee el archivo csv `life_expectancy_data` usando `pandas`. Guardalo en una variable llamada `expvida`.

In [4]:
# Leo los datos en un DataFrame
from google.colab import files
from google.colab import drive
drive.mount('/content/drive')
expvida = pd.read_csv('/content/drive/MyDrive/Ciencia de Datos/life_expectancy_data.csv')

Mounted at /content/drive

3) ¿Que tipo de estructura de datos contiene la variable `expvida`?

In [5]:
# Obtengo el tipo de estructura de datos
expvida.dtypes

Country                             object
Year                                 int64
Status                              object
Life expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
Measles                              int64
 BMI                               float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

4) ¿Cuantas filas y columnas tiene `expvida`?

In [6]:
# Uso .shape para obtener cantidad de filas y columnas
expvida.shape

(2938, 22)

**Numero de filas**:

**Numero de columnas**:

5) ¿Cual es el nombre de las columnas contenidas en `expvida`?

In [7]:
# Obtengo el nombre de las columnas
expvida.columns.values

array(['Country', 'Year', 'Status', 'Life expectancy ', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure',
       'Hepatitis B', 'Measles ', ' BMI ', 'under-five deaths ', 'Polio',
       'Total expenditure', 'Diphtheria ', ' HIV/AIDS', 'GDP',
       'Population', ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'], dtype=object)

6) Inspecciona las primeras 10 filas de `expvida`

In [8]:
# Inspecciono las primeras filas
expvida.head(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
0,Afghanistan,2015,Developing,65.0,263.0,62,0.01,71.279624,65.0,1154,...,6.0,8.16,65.0,0.1,584.259210,33736494.0,17.2,17.3,0.479,10.1
1,Afghanistan,2014,Developing,59.9,271.0,64,0.01,73.523582,62.0,492,...,58.0,8.18,62.0,0.1,612.696514,327582.0,17.5,17.5,0.476,10.0
2,Afghanistan,2013,Developing,59.9,268.0,66,0.01,73.219243,64.0,430,...,62.0,8.13,64.0,0.1,631.744976,31731688.0,17.7,17.7,0.470,9.9
3,Afghanistan,2012,Developing,59.5,272.0,69,0.01,78.184215,67.0,2787,...,67.0,8.52,67.0,0.1,669.959000,3696958.0,17.9,18.0,0.463,9.8
4,Afghanistan,2011,Developing,59.2,275.0,71,0.01,7.097109,68.0,3013,...,68.0,7.87,68.0,0.1,63.537231,2978599.0,18.2,18.2,0.454,9.5
5,Afghanistan,2010,Developing,58.8,279.0,74,0.01,79.679367,66.0,1989,...,66.0,9.20,66.0,0.1,553.328940,2883167.0,18.4,18.4,0.448,9.2
6,Afghanistan,2009,Developing,58.6,281.0,77,0.01,56.762217,63.0,2861,...,63.0,9.42,63.0,0.1,445.893298,284331.0,18.6,18.7,0.434,8.9
7,Afghanistan,2008,Developing,58.1,287.0,80,0.03,25.873925,64.0,1599,...,64.0,8.33,64.0,0.1,373.361116,2729431.0,18.8,18.9,0.433,8.7
8,Afghanistan,2007,Developing,57.5,295.0,82,0.02,10.910156,63.0,1141,...,63.0,6.73,63.0,0.1,369.835796,26616792.0,19.0,19.1,0.415,8.4
9,Afghanistan,2006,Developing,57.3,295.0,84,0.03,17.171518,64.0,1990,...,58.0,7.43,58.0,0.1,272.563770,2589345.0,19.2,19.3,0.405,8.1

7) Y ahora las 10 últimas.

In [9]:
# Inspecciono las ultimas filas
expvida.tail(10)

,Country,Year,Status,Life expectancy,Adult Mortality,infant deaths,Alcohol,percentage expenditure,Hepatitis B,Measles,...,Polio,Total expenditure,Diphtheria,HIV/AIDS,GDP,Population,thinness 1-19 years,thinness 5-9 years,Income composition of resources,Schooling
2928,Zimbabwe,2009,Developing,50.0,587.0,30,4.64,1.040021,73.0,853,...,69.0,6.26,73.0,18.1,65.824121,1381599.0,7.5,7.4,0.419,9.9
2929,Zimbabwe,2008,Developing,48.2,632.0,30,3.56,20.843429,75.0,0,...,75.0,4.96,75.0,20.5,325.678573,13558469.0,7.8,7.8,0.421,9.7
2930,Zimbabwe,2007,Developing,46.6,67.0,29,3.88,29.814566,72.0,242,...,73.0,4.47,73.0,23.7,396.998217,1332999.0,8.2,8.2,0.414,9.6
2931,Zimbabwe,2006,Developing,45.4,7.0,28,4.57,34.262169,68.0,212,...,71.0,5.12,7.0,26.8,414.796232,13124267.0,8.6,8.6,0.408,9.5
2932,Zimbabwe,2005,Developing,44.6,717.0,28,4.14,8.717409,65.0,420,...,69.0,6.44,68.0,30.3,444.765750,129432.0,9.0,9.0,0.406,9.3
2933,Zimbabwe,2004,Developing,44.3,723.0,27,4.36,0.000000,68.0,31,...,67.0,7.13,65.0,33.6,454.366654,12777511.0,9.4,9.4,0.407,9.2
2934,Zimbabwe,2003,Developing,44.5,715.0,26,4.06,0.000000,7.0,998,...,7.0,6.52,68.0,36.7,453.351155,12633897.0,9.8,9.9,0.418,9.5
2935,Zimbabwe,2002,Developing,44.8,73.0,25,4.43,0.000000,73.0,304,...,73.0,6.53,71.0,39.8,57.348340,125525.0,1.2,1.3,0.427,10.0
2936,Zimbabwe,2001,Developing,45.3,686.0,25,1.72,0.000000,76.0,529,...,76.0,6.16,75.0,42.1,548.587312,12366165.0,1.6,1.7,0.427,9.8
2937,Zimbabwe,2000,Developing,46.0,665.0,24,1.68,0.000000,79.0,1483,...,78.0,7.10,78.0,43.5,547.358878,12222251.0,11.0,11.2,0.434,9.8

8) ¿Que tipos de datos contiene cada una de las columnas de `expvida`?

In [114]:
# Tipo de datos en cada columna
expvida.dtypes

Country                             object
Year                                 int64
Status                              object
life_expectancy                    float64
Adult Mortality                    float64
infant deaths                        int64
Alcohol                            float64
percentage expenditure             float64
Hepatitis B                        float64
measles                              int64
bmi                                float64
under-five deaths                    int64
Polio                              float64
Total expenditure                  float64
Diphtheria                         float64
 HIV/AIDS                          float64
GDP                                float64
Population                         float64
 thinness  1-19 years              float64
 thinness 5-9 years                float64
Income composition of resources    float64
Schooling                          float64
dtype: object

9) ¿Hay valores faltantes en alguna de las columnas de `expvida`?

In [119]:
# Obtengo la cantidad de datos faltantes en cada columna
cant_nulos = expvida.isnull().any()

print("Valores faltantes en cada columna del DataFrame:")
print(cant_nulos)
print("👇🏻")
print("Donde 'False' indica que no hay valores faltantes y 'True' indica que sí hay.")

Valores faltantes en cada columna del DataFrame:
Country                            False
Year                               False
Status                             False
life_expectancy                     True
Adult Mortality                     True
infant deaths                      False
Alcohol                             True
percentage expenditure             False
Hepatitis B                         True
measles                            False
bmi                                 True
under-five deaths                  False
Polio                               True
Total expenditure                   True
Diphtheria                          True
 HIV/AIDS                          False
GDP                                 True
Population                          True
 thinness  1-19 years               True
 thinness 5-9 years                 True
Income composition of resources     True
Schooling                           True
dtype: bool
👇🏻
Donde 'False' indica que no hay valores faltantes y 'True' indica que sí hay.

10) Selecciona el maximo de datos faltantes. Calcula que porcentaje de los datos representan los datos faltantes.

In [124]:
# Obtener la cantidad de datos faltantes por columna
datos_faltantes_por_columna = expvida.isnull().sum()

# Seleccionar la columna con el máximo de datos faltantes
columna_max_datos_faltantes = datos_faltantes_por_columna.idxmax()

# Calcular el porcentaje de datos faltantes en la columna seleccionada
porcentaje_datos_faltantes = (datos_faltantes_por_columna[columna_max_datos_faltantes] / len(expvida)) * 100

print("Columna con el máximo de datos faltantes:", columna_max_datos_faltantes)
print("Cantidad de datos faltantes en la columna:", datos_faltantes_por_columna[columna_max_datos_faltantes])
print("Porcentaje de datos faltantes en la columna: {:.2f}%".format(porcentaje_datos_faltantes))
print("----------------------------------------------------------------------------------------------")
print("En este código, utilizamos la función isnull().sum() para obtener la cantidad de datos faltantes por columna en el DataFrame 'expvida'.\nLuego, con idxmax() seleccionamos la columna que tiene el máximo de datos faltantes.\nFinalmente, calculamos el porcentaje de datos faltantes en esa columna dividiendo la cantidad de datos faltantes entre el total de filas del DataFrame y multiplicando por 100.\nEl resultado se imprimirá mostrando la columna con el máximo de datos faltantes, la cantidad de datos faltantes en esa columna y el porcentaje correspondiente.")

Columna con el máximo de datos faltantes: Population
Cantidad de datos faltantes en la columna: 652
Porcentaje de datos faltantes en la columna: 22.19%
----------------------------------------------------------------------------------------------
En este código, utilizamos la función isnull().sum() para obtener la cantidad de datos faltantes por columna en el DataFrame 'expvida'.
Luego, con idxmax() seleccionamos la columna que tiene el máximo de datos faltantes.
Finalmente, calculamos el porcentaje de datos faltantes en esa columna dividiendo la cantidad de datos faltantes entre el total de filas del DataFrame y multiplicando por 100.
El resultado se imprimirá mostrando la columna con el máximo de datos faltantes, la cantidad de datos faltantes en esa columna y el porcentaje correspondiente.

In [ ]:
# Obtengo el maximo valor de datos faltantes y lo guardo en la variable masnan
masnan = cant_nulos.max
print(f"El máximo valor de datos faltantes es: {masnan}")

- str.format()
- Template Class
- f-strings

#### Ahora vamos a realizar algunos calculos y manipulaciones sobre las columnas.

Una función útil para este fin es: `.rename()`. Y podemos utilizarla de la siguiente manera: Si `df` es mi DataFrame y quiero renombrar la columna `columna` como `columna1`, y la columna `columna2` como `columna3`, utilizo la siguiente sintaxis:
  
`df.rename(columns={"columna": "columna1", "columna2": "columna3"}, inplace=True)`

11) Renombra la columna 'Life expectancy ' como 'life_expectancy', ' BMI ' como 'bmi' y ''Measles ' como 'measles'. No olvides de usar `inplace` para modificar el DataFrame original. Luego chequea que el cambio se haya hecho correctamente.

In [60]:
# Renombro columnas del DataFrame
expvida.rename(columns = {'Life expectancy ': 'life_expectancy', ' BMI ': 'bmi', 'Measles ': 'measles'}, inplace = True)

In [59]:
# Chequeo que se hayan reemplazado correctamente
print(expvida.columns)

Index(['Country', 'Year', 'Status', 'life_expectancy', 'Adult Mortality',
       'infant deaths', 'Alcohol', 'percentage expenditure', 'Hepatitis B',
       'measles', 'bmi', 'under-five deaths ', 'Polio', 'Total expenditure',
       'Diphtheria ', ' HIV/AIDS', 'GDP', 'Population',
       ' thinness  1-19 years', ' thinness 5-9 years',
       'Income composition of resources', 'Schooling'],
      dtype='object')

12) ¿Cual es el promedio de expectativa de vida (Life expectancy) en general?

In [98]:
# Obtengo el promedio de la columna
promedio_expvida = expvida['life_expectancy'].mean()
print("Promedio de expectativa de vida en general:", promedio_expvida)

Promedio de expectativa de vida en general: 69.22493169398908

13) ¿Cual es el promedio de expectativa de vida (Life expectancy) por país?

In [99]:
# Obtengo el promedio de expectativa de vida por país
promedio_vida_por_pais = expvida.groupby('Country')['life_expectancy'].mean()

print("Promedio de expectativa de vida por país:")
print(promedio_vida_por_pais)

Promedio de expectativa de vida por país:
Country
Afghanistan                           58.19375
Albania                               75.15625
Algeria                               73.61875
Angola                                49.01875
Antigua and Barbuda                   75.05625
                                        ...
Venezuela (Bolivarian Republic of)    73.38750
Viet Nam                              74.77500
Yemen                                 63.86250
Zambia                                53.90625
Zimbabwe                              50.48750
Name: life_expectancy, Length: 193, dtype: float64

14) ¿Cual es la expectativa de vida mas alta y mas baja? Usa la funcion de pandas y la funcion de NumPy y compara el resultado. ¿Que paises tienen esas expectativas de vida?

In [112]:
#MÁXIMA Y MÍNIMA EXPECTATIVA DE VIDA USANDO NUMPY

# Expectativa de vida más alta y más baja usando NumPy
max_vida_numpy = np.max(expvida['life_expectancy'])
min_vida_numpy = np.min(expvida['life_expectancy'])

# Países con la expectativa de vida más alta y más baja usando NumPy
indices_max_vida_numpy = np.argmax(expvida['life_expectancy'])
indices_min_vida_numpy = np.argmin(expvida['life_expectancy'])
pais_max_vida_numpy = expvida.loc[indices_max_vida_numpy, 'Country']
pais_min_vida_numpy = expvida.loc[indices_min_vida_numpy, 'Country']

print("\nUsando NumPy:")
print("Expectativa de vida más alta:", max_vida_numpy, "en el país:", pais_max_vida_numpy)
print("Expectativa de vida más baja:", min_vida_numpy, "en el país:", pais_min_vida_numpy)

Usando NumPy:
Expectativa de vida más alta: 89.0 en el país: Belgium
Expectativa de vida más baja: 36.3 en el país: Haiti

In [113]:
#MÁXIMA Y MÍNIMA EXPECTATIVA DE VIDA USANDO PANDAS

# Expectativa de vida más alta y más baja usando Pandas
max_vida_pandas = expvida['life_expectancy'].max()
min_vida_pandas = expvida['life_expectancy'].min()

# Países con la expectativa de vida más alta y más baja usando Pandas
pais_max_vida_pandas = expvida.loc[expvida['life_expectancy'] == max_vida_pandas, 'Country'].iloc[0]
pais_min_vida_pandas = expvida.loc[expvida['life_expectancy'] == min_vida_pandas, 'Country'].iloc[0]

print("Usando Pandas:")
print("Expectativa de vida más alta:", max_vida_pandas, "en el país:", pais_max_vida_pandas)
print("Expectativa de vida más baja:", min_vida_pandas, "en el país:", pais_min_vida_pandas)

Usando Pandas:
Expectativa de vida más alta: 89.0 en el país: Belgium
Expectativa de vida más baja: 36.3 en el país: Haiti

15) ¿Cuantas categorias encontramos en la columna "Status"? _**Pista**_: Lee acerca de la función [unique()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.unique.html?highlight=unique#pandas.Series.unique)

In [ ]:
# Obtengo los valores unicos de la columna status
categorias_status = df['Status'].unique()

# Contar la cantidad de categorías únicas
cantidad_categorias = len(categorias_status)

print("Cantidad de categorías en la columna 'Status':", cantidad_categorias)

16) ¿Cuantos paises se ubican en cada una de esas categorias de "Status"? _**Pista**_: Lee acerca de la función [value_counts()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [111]:
# Cuento cuantos valores hay de cada categoria
conteo_paises_por_status = expvida['Status'].value_counts()


print("Cantidad de países en cada categoría de 'Status':")
print(conteo_paises_por_status)

Cantidad de países en cada categoría de 'Status':
Developing    2426
Developed      512
Name: Status, dtype: int64

17) ¿Cuantos paises presentaron algun caso de Sarampion (**Measles**) en el 2015? **_Pista_**: Lee acerca de la función [.count()](http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.count.html?highlight=count#pandas.DataFrame.count)

In [ ]:
# Aplicar el filtro para obtener solo los registros del año 2015 y con más de un caso de sarampión
filtro = (expvida['Year'] == 2015) & (expvida['measles'] > 1)
paises_con_mas_de_un_caso = expvida.loc[filtro]

# Contar la cantidad de países únicos que cumplen la condición en 2015
cantidad_paises = paises_con_mas_de_un_caso['Country'].count()

print("Cantidad de países en 2015 con más de un caso de sarampión:", cantidad_paises)
print("----------------------------------------------------------------------------------------------")
print('Disclaimer: me ayudé con ChatGPT para responder esta pregunta porque no sabía cómo resolverla.')
print("Aquí utilicé la función '.count()'.")

In [ ]:
# Cuento cuantas filas tienen valores distintos de cero

# Filtrar los datos para obtener solo los registros del año 2015 y con más de un caso de sarampión
filtro = (expvida['Year'] == 2015) & (expvida['measles'] > 1)
paises_con_mas_de_un_caso = expvida.loc[filtro]

# Contar la cantidad de países que cumplen la condición anterior
cantidad_paises = paises_con_mas_de_un_caso['Country'].nunique()

print("Cantidad de países que en 2015 presentaron más de un caso de sarampión:", cantidad_paises)
print("----------------------------------------------------------------------------------------------")
print('Disclaimer: me ayudé con ChatGPT para responder esta pregunta porque no sabía cómo resolverla.')
print("Aquí utilicé la función '.nunique'.")